FFUDevelopment/Autopilot/AutoPilotConfigurationFile.json
FFUDevelopment/Apps/Customizations/*.bin
FFUDevelopment/PPKG/NotForIntune
FFUDevelopment/PPKG/*.ppkg
FFUDevelopment/Autopilot/*.exe
FFUDevelopment/PEResources/WinPE-Wallpaper/winpe.jpg